<div class="totals-row">
  <div class="totals-item line-border"><span class="totals-label">Total Profit: </span><span><%= commas(@total_profit) %>gp</span></div>
  <div class="totals-item line-border"><span class="totals-label">Total Volume: </span><span><%= commas(@total_volume) %> Items</span></div>
  <div class="totals-item line-border"><span class="totals-label">Total Notional: </span><span><%= commas(@total_notional) %>gp</span></div>
</div>

<div class="daily-stats line-border">
  <p>Past 5 Trading Days</p>
  <table>
    <tr>
      <th>Day</th>
      <th>Profit</th>
      <th>Volume</th>
      <th>Notional</th>
      <th>P/I</th>
    </tr>
    <% @daily_stats.each do |r| %>
    <tr>
      <td><%= r["day"] %></td>
      <td><%= gp_fmt r["closed_profit"] %></td>
      <td><%= gp_fmt r["volume"] %></td>
      <td><%= gp_fmt r["notional"] %></td>
      <td><%= "#{r["avg_profit_per_item"]}gp" %></td>
    </tr>
    <% end %>
  </table>
</div>
