<%= render "breadcrumb" %>

<div class="process-item-container">
  <div class="process-item line-border">
    <%= link_to "itemdl", "/process/#{@rs_type}/itemdl", class: "process-item-title" %>
    <p>Items Tracked: <%= @items_tracked %></p>
  </div>

  <div class="process-item line-border">
    <%= link_to "pxmon", "/process/#{@rs_type}/pxmon", class: "process-item-title" %>
    <table>
      <tr><td>Last GE Update:</td><td><%= @last_ge_update_ts %></td></tr>
      <tr><td>Current GE Day:</td><td><%= @current_ge_date %></td></tr>
    </table>
  </div>

  <div class="process-item line-border">
    <%= link_to "limitmon", "/process/#{@rs_type}/limitmon", class: "process-item-title" %>
    <p>Limits Tracked: <%= @limits_tracked %></p>
  </div>
</div>
