<table class="process-index-table line-border">
  <tr> 
    <% ["Id", "Start", "End", "Prices Found"].each do |h| %>
      <th><%= h %></th>
    <% end %>
  </tr>
<% @process_results.each do |r| %>
  <tr>
    <td><%= r["run_id"] %></td>
    <td><%= r["duration"].first.strftime("%m/%d %H:%M") %></td>
    <td><%= r["duration"].last.strftime("%m/%d %H:%M") %></td>
    <td><%= r["prices_found"] %></td>
  </tr>
<% end %>
</table>
