<table>
  <tr> 
    <% ["Id", "Start", "End", "Prices Found"].each do |h| %>
      <th><%= h %></th>
    <% end %>
  </tr>
<% @process_results.each do |r| %>
  <tr>
    <td><%= r["run_id"] %></td>
    <td><%= r["duration"][0] %></td>
    <td><%= r["duration"][1] %></td>
    <td><%= r["prices_found"] %></td>
  </tr>
<% end %>
